[submodule "src/lib/cpr"]
	path = src/lib/cpr
	url = https://github.com/libcpr/cpr.git
	branch = master
[submodule "src/lib/bzip2"]
	path = src/lib/bzip2
	url = https://android.googlesource.com/platform/external/bzip2
	branch = main
[submodule "src/lib/protobuf"]
	path = src/lib/protobuf
	url = https://android.googlesource.com/platform/external/protobuf
	branch = main
[submodule "src/lib/brotli"]
	path = src/lib/brotli
	url = https://github.com/google/brotli.git
	branch = master
[submodule "src/lib/bsdiff"]
	path = src/lib/bsdiff
	url = https://android.googlesource.com/platform/external/bsdiff
	branch = main
[submodule "src/lib/xz"]
	path = src/lib/xz
	url = https://github.com/tukaani-project/xz.git
	branch = master
[submodule "src/lib/zstd"]
	path = src/lib/zstd
	url = https://github.com/facebook/zstd
	branch = dev
[submodule "src/lib/fec_rs"]
	path = src/lib/fec_rs
	url = https://android.googlesource.com/platform/external/fec
	branch = main
[submodule "src/lib/zlib"]
	path = src/lib/zlib
	url = https://github.com/madler/zlib.git
